@model WebApp.Models.EventParticipantViewModel

@{
    ViewData["Title"] = "Osavõtjad";
}


<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row h-100" style="min-height: 100px;">
                <!-- Vasak pool -->
                <div class="col-auto d-flex align-items-center bg-darker-primary text-white px-3">
                    <h4 class="mb-0">Osavõtjad</h4>
                </div>

                <!-- Parem pool-->
                <div class="col p-0">
                    <img src="~/img/libled.jpg" class="img-fluid" alt="Libled"
                         style="height: 100px; width: 100%; object-fit: cover;"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h4 class="text-darker-primary">Osavõtjad</h4>
            
        </div>
    </div>
</div>

<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="mb-4">
                <dl class="row">
                    <dt class="col-sm-3 fw-normal">Ürituse nimi:</dt>
                    <dd class="col-sm-9 text-secondary">@Model.Event.Name</dd>

                    <dt class="col-sm-3 fw-normal">Toimumisaeg:</dt>
                    <dd class="col-sm-9 text-secondary">@Model.Event.DateTime.ToString("dd.MM.yyyy")</dd>

                    <dt class="col-sm-3 fw-normal">Koht:</dt>
                    <dd class="col-sm-9 text-secondary">@Model.Event.Location</dd>

                    <dt class="col-sm-3 fw-normal">Osavõtjad:</dt>
                    <dd class="col-sm-9 text-secondary">
                        <div class="mb-4">
                            @for (var i = 0; i < Model.Participants.Count; i++)
                            {
                                var participant = Model.Participants[i];
                                <div class="row align-items-center py-2 border-bottom">
                                    <div class="col-sm-4 text-secondary">
                                        @($"{i + 1}. {participant.Name}")
                                    </div>
                                    <div class="col-sm-4 text-secondary">
                                        @participant.Code
                                    </div>
                                    <div class="col-sm-4 text-end">
                                        <div class="d-inline-flex align-items-center">
                                            <a asp-controller="Participants" asp-action="Details" asp-route-id="@participant.Id" asp-route-eventId="@Model.Event.Id"
                                               class="text-secondary fw-bold me-3 text-decoration-none">
                                                VAATA
                                            </a>
                                            <a asp-controller="EventParticipants" asp-action="Delete" asp-route-id="@participant.EventParticipantId"
                                               class="btn btn-link text-danger fw-bold p-0 m-0 text-decoration-none align-middle">
                                                KUSTUTA
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        
                        
                    </dd>
                    
                </dl>
            </div>
            
            <h4 class="text-darker-primary mt-2 mb-3">Osavõtjate lisamine</h4>

            <form asp-controller="EventParticipants" asp-action="Create" method="post">
                <input type="hidden" name="EventId" value="@Model.Event.Id"/>

                <!-- Radio buttons -->
                <div class="mb-3">
                    <label class="form-label">Vali tüüp:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ParticipantType" value="private"
                               id="private" checked onclick="toggleFields()">
                        <label class="form-check-label" for="private">Eraisik</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ParticipantType" value="legal"
                               id="legal"
                               onclick="toggleFields()">
                        <label class="form-check-label" for="legal">Ettevõte</label>
                    </div>
                </div>

                <!-- Eraisik väljad -->
                <div id="privateFields">
                    <div class="mb-3">
                        <label class="form-label">Eesnimi:</label>
                        <input type="text" class="form-control" name="FirstName"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Perekonnanimi:</label>
                        <input type="text" class="form-control" name="LastName"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Isikukood:</label>
                        <input type="text" class="form-control" name="PersonalCode" maxlength="11" pattern="\d{11}"/>
                        @if (ViewData.ModelState["PersonalCode"]?.Errors.Count > 0)
                        {
                            <div class="text-danger">
                                @ViewData.ModelState["PersonalCode"]!.Errors[0].ErrorMessage
                            </div>
                        }
                    </div>
                </div>

                <!-- Ettevõtte väljad -->
                <div id="legalFields" style="display: none;">
                    <div class="mb-3">
                        <label class="form-label">Ettevõtte nimi:</label>
                        <input type="text" class="form-control" name="CompanyName"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Registrikood:</label>
                        <input type="text" class="form-control" name="RegistryCode"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Osalejate arv:</label>
                        <input type="number" class="form-control" name="NumberOfAttendees"/>
                    </div>
                </div>

                <!-- Makseviis ja Lisainfo -->
                <div class="mb-3">
                    <label class="form-label">Maksmisviis:</label>
                    <select class="form-select" name="PaymentMethodId">
                        <option value="">Vali makseviis...</option>
                        @foreach (var method in (List<SelectListItem>)ViewBag.PaymentMethods)
                        {
                            <option value="@method.Value">@method.Text</option>
                        }
                    </select>
                </div>


                <div class="mb-4">
                    <label class="form-label">Lisainfo:</label>
                    <textarea class="form-control" id="additionalInfo" name="AdditionalInfo" rows="3"></textarea>
                </div>

                <!-- Nupud -->
                <div class="d-flex">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary me-2">Tagasi</a>
                    <button type="submit" class="btn btn-darker-primary">Lisa</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function toggleFields() {
            var privateFields = document.getElementById('privateFields');
            var legalFields = document.getElementById('legalFields');
            var additionalInfo = document.getElementById('additionalInfo');

            if (document.getElementById('private').checked) {
                privateFields.style.display = 'block';
                legalFields.style.display = 'none';
                additionalInfo.setAttribute("maxlength", "1500");
            } else {
                privateFields.style.display = 'none';
                legalFields.style.display = 'block';
                additionalInfo.setAttribute("maxlength", "5000");
            }
        }

        // Kui leht laeb, seadista algne maxlength õigesti
        window.onload = function () {
            toggleFields();
        };

        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    </script>

}
